.search-icon-container {
  margin-bottom: 20px;
  h4 {
    font-size: 20px;
    text-align: left;
  }

  .back-table-data-button {
    padding: 4px 18px;
    margin-top: 12px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 5px #000;
  }
}
.sales-order-item-heading {
  /* text-align: center; */
  text-decoration: underline;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}
.header-cell {
  background-color: #cfe3f7f1;
  /* width: 200px; */
  color: #000;
  border: 1px solid #000;
}
.get-item-details-heading,
h4 {
  font-weight: 600;
  /* text-decoration: underline; */
  text-align: left;

  span {
    color: #121ec7;
  }
}
.document-number:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.doc-search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.doc-search-icon {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 4px;
}
.doc-search-icon:hover {
  background-color: #80808079;
}
.doc-input {
  padding: 2px 4px;
  outline: none;
  font-weight: 600;
  /* width: 20%; */
  border-radius: 4px;
  border: 1px solid #000;
}
.item-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 20px;
  overflow: auto;
  border: 3px solid #0000ff;
  border-radius: 10px;
  /* width: 140%; */
  overflow: auto;
  z-index: 1;
  position: absolute;
  /* top: 80px; */
  bottom: 20%;
  left: 3%;
  background-color: #87a6c5;
  padding: 15px 20px;

  .item-table-section {
    .sales-order-item-heading {
      color: #fff;
    }
  }

  p {
    font-size: 18px;
    display: flex;
    gap: 20px;
    font-weight: 600;

    span {
      color: #000;
      /* background-color: #000; */
      /* color: #fff; */
      padding: 2px;
      border-radius: 2px;
    }
  }

  .close-item-data-button {
    padding: 4px 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background-color: #000000;
    box-shadow: 2px 2px 4px #215b96f1;
  }
}
.item-doc-details {
  background-color: gray;
  color: #fff;
  padding: 4px 12px;
}
.doc-date-search-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 100px;
}
@media (max-width: 768px) {
  .doc-date-search-container {
    flex-direction: column;
    gap: 30px;
  }
}
.date-fields-container {
  display: flex;
  gap: 20px;
  /* max-width: 700px; */

  .from-date-section {
    display: flex;
    gap: 10px;
    flex-direction: column;

    input {
      font-weight: 600;
      padding: 2px;
    }
  }
  .to-date-section {
    display: flex;
    gap: 10px;
    flex-direction: column;

    input {
      /* font-size: 20px; */
      font-weight: 600;
      padding: 2px;
    }
  }
}
.radio-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #000;
  /* accent-color: #0663f0; */
  border: 3px solid #000;
}
.search-date {
  background-color: #808080;
  padding: 4px 18px;
  margin-top: 12px;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  box-shadow: 2px 2px 5px #000;
  font-size: 18px;
  /* min-height: 50px; */
  /* width: 20%; */
}
.search-date:hover {
  background-color: #121ec7;
  color: #fff;
}
@media (max-width: 768px) {
  .date-fields-container {
    flex-direction: column;
  }
  .search-date {
    width: 65%;
  }
}
.process-button {
  display: flex;
  gap: 8px;
}
.doc-date-section {
  display: flex;
  gap: 8px;
}
.date-search-icon {
  margin-top: 38px;
}
@media (max-width: 768px) {
  .date-search-icon {
    margin-top: 0px;
  }
}
.attachment-container {
  .attachment-name {
    /* font-size: 16px; */
    margin-right: 10px;
    padding: 0px;
    margin: 0px;
  }
  .attachment-icon {
    width: 26px;
    height: 26px;
    /* box-shadow: 0px 0px 2px #000; */
    /* padding: 0px; */
  }
  .download-section {
    margin-top: 5px;
    cursor: pointer;
  }
  .download-section:hover {
    color: #008000;
    transition: all ease-in-out 0.3s;
  }
  a {
    margin: 0;
    padding: 0;
  }
  /* align-items: center; */
  /* text-align: center; */
}
.procurement-header-item-search-section {
  display: flex;
  gap: 100px;
}
