.about-container {
  div {
    p {
      font-size: 18px;
      font-weight: 500;
      /* font-family: "Poppins"; */
    }
  }
}
@media (max-width: 768px) {
  .about-container {
    div {
      p {
        font-size: 16px;
      }
    }
  }
}
