.charts-navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #7599dbb6;
        width: 30%;
        padding: 5px;
        border-radius: 4px;
        input{
            width: 90%;
            border: none;
            outline: none;
        }
        .icon{
            font-size: 28px;
            color: #7599dbb6;
        }
    }
    .icon{
        font-size: 28px;
        color: #7599dbb6;

        &:hover{
            color: black;
        }
    }
    .info{
        align-self: flex-end;
    }
}