.sales-data-modules-container {
  min-height: 100vh;
  padding: 20px;

  .sales-data-modules-section {    display: flex;
    flex-direction: column;
    height: 80vh;
    gap: 0px;


    

    .section-one {
      width: 100%;

      ul {
        padding: 0;
        list-style-type: none;
        border: 1px solid #000;
        border-radius: 10px;
        /* padding: 10px; */
        box-shadow: 2px 2px 5px #62a5d1;
        overflow: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;

        li {
          margin: 20px 0px;
          /* background-color: #00000054; */
          border-radius: 8px;
          button {
            font-size: 24px;
            color: #000;
            font-weight: 700;
            button {
              width: 70px;
              padding: 5px;
              border: 1px solid #000;
              border-radius: 5px;
              box-shadow: 2px 2px 5px #62a5d1;
              font-weight: 600;
            }

            button:hover {
              background-color: #1483c4;
              color: #fff;
            }
          }

          span {
            display: flex;
            gap: 20px;
            /* text-align: justify; */

            .active {
              background-color: #1483c4;
              color: #fff;
            }
          }
        }
      }
      .sales-section {
        height: auto;
        /* background-image: url("./SAP-SD.jpg"); */
        background-size: cover;
        filter: brightness(100%);
        background-position: -80px;
        color: #fff;

        li {
          button {
            /* width: 70px; */
            padding: 5px 10px;
            border: 2px solid #000;
            border-radius: 18px;
            box-shadow: 2px 2px 5px #000;
            font-weight: 600;
            background-color: #00000069;
            color: #fff;
            font-size: 16px;
          }
          button:hover {
            background-color: #1483c4;
            color: #fff;
          }
        }
      }
      /* justify-content: space-around; */
    }
    .section-two {
      flex: 3;
      background-color: #e6e9e838;
      padding: 20px;
      min-height: 80vh;

      table-section {
        /* width: 100%; */
        overflow: auto;
        padding: 20px;
      }

      .archived-data-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1736344887/sapImage_ipblzl.jpg");
        background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1736345311/sapImage1_cnoqqt.avif");
        background-image: url("./SAP-SD.jpg");

        background-size: cover;
        .data-heading {
          background-color: #fff;
          padding: 10px;
          border-radius: 12px;
          box-shadow: 2px 2px 15px #000;
        }

        h1 {
          color: #000;
          font-weight: 600;
        }
      }
    }
  }
}

.procurement-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1736344887/sapImage_ipblzl.jpg"); */
  /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1736345311/sapImage1_cnoqqt.avif"); */
  background-image: url("./mm.png");
  background-size: cover;
  .procurement-data-heading {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px #000;
  }
  h1 {
    color: #000;
    font-weight: 600;
    font-size: 32px;
  }
}
h1 {
  color: #000;
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 768px) {
  .sales-data-modules-container {
    .sales-data-modules-section {
      flex-direction: column;

      .section-two {
        /* height: 80vh; */ /* Remove this to prevent extra scroll bar on mobile */
        /* overflow: auto; */

        .table-section {
          overflow: auto;
        }
      }
    }
  }
}
#active-button {
  color: #fff;
  background-color: #1483c4;
}
.module-intro-container {
  background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1736345311/sapImage1_cnoqqt.avif");
  /* background-image: url("./SAP-SD.jpg"); */
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .data-header-section {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
    h1 {
      color: #000;
      font-weight: 600;
    }
  }
}
.intro-back-button-container {
  text-align: right;

  .intro-back-button {
    padding: 4px 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 2px 2px 5px #000;
  }
}
