.contact-container {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 6px;
  margin: 20px 0px;
}
.contact-heading {
  font-weight: 600;
  /* font-size: 28px; */
}
.contact-input-section-1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 40%;

  input {
    padding: 6px 12px;
    font-weight: 600;
    border: 1px solid #000;
    outline: none;
    border-radius: 6px;
    /* font-size: 20px; */
  }
}
.contact-input-section-2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;

  .contact-text-msg {
    width: 100%;
    height: 160px;
    padding: 6px 12px;
    font-weight: 600;
    border: 1px solid #000;
    outline: none;
    border-radius: 6px;
  }
  input {
    padding: 6px 12px;
    font-weight: 600;
    border: 1px solid #000;
    outline: none;
    border-radius: 6px;
    /* font-size: 20px; */
  }
}
@media (max-width: 768px) {
  .contact-input-section-2 {
    input {
      width: 82vw;
    }
    .contact-text-msg {
      width: 82vw;
    }
  }
}
.send-button {
  margin-top: 20px;
  padding: 10px 40px;
  font-weight: 600;
  border-radius: 18px;
  outline: none;
  border: 1px solid #000;
}
.send-button:hover {
  background-color: #7886d37e;
}
