.signup-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    padding: 30px 10px;

    .signup-section-container {
      border: 1px solid #80808094;
      border-radius: 20px;
      padding: 20px;
      /* height: 60vh; */

      h1 {
        text-align: center;
        font-family: "Bree Serif";
        margin-bottom: 5vh;
      }

      .info-section {
        display: flex;
        gap: 30px;
        margin: 20px;

        div {
          label {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
          }

          input {
            padding: 6px 12px;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            /* color: #323f4b; */
            font-weight: 500;
            border: 1px solid #808080;
            background-color: #f0f8ff8e;
          }
        }
      }
    }
    .signup-button {
      margin-left: 20px;

      button {
        padding: 6px 40px;
        font-weight: 600;
        border-radius: 18px;
        outline: none;
        border: 1px solid #000;
        width: 96%;
      }

      button:hover {
        background-color: #3b72b636;
        /* color: #fff; */
      }
    }
    .pass-requirement {
      display: flex;
      gap: 5px;
      margin-left: 20px;

      .info-icon {
        color: #2c67b0;
      }
      p {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .have-account {
      margin-left: 20px;
      margin-top: 20px;
      p {
        font-size: 16px;

        span {
          color: #2c67b0;
          margin-left: 5px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .signup-container {
    .signup-section-container {
      .info-section {
        flex-direction: column;
        gap: 0px;
        margin: 0px;
      }
    }
  }
}

.verify-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1729229000/image3_1_ac1jk3.jpg"); */
  background-size: cover;
}
.verify-card {
  background-color: #f0f8ff;
  border: 1px solid gray;

  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  div {
    background-color: #fff;
    color: #000;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
  }

  input {
    padding: 12px;
    height: 40px;
    border: 1px solid #000;
    outline: none;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 18px;
  }

  h1 {
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

  button {
    padding: 8px 24px;
    background-color: green;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
  }

  button:hover {
    font-size: 22px;
  }

  .code-error {
    background-color: #fff;
    padding: 4px;
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
  }
}
