.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #7886d31f;
  /* background-image: url("./data_present_2.jpg"); */
  background-size: cover;
  padding: 20px 0px;
  /* margin-top: 10vh; */
}
.main-container {
  height: 20vh;
  div {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 12px 10px;
    border-radius: 4px;

    h3 {
      font-size: 28px;
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    div {
      h3 {
        font-size: 18px;
      }
    }
  }
}
