.explore-container {
  margin: 20px;
  margin-top: 50px;

  .sap-gui-intro {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  div {
    .explore-section-heading {
      text-decoration: underline;
      text-align: center;
    }
  }

  .sap-gui-details {
    /* background-color: aliceblue; */
    padding: 20px;

    h4 {
      margin-left: 20px;
    }

    .data-types {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex: wrap;
      gap: 100px;
      .data-card {
        height: 300px;
        width: 300px;
        background-color: transparent;
        color: #fff;
        margin: 20px;
        /* margin-left: 0px; */
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 2px 2px 5px #235a8d;
        border: 1px solid #000;
        p {
          color: #000;
          text-align: center;
          font-size: 24px;
          color: #fff;
          background-color: #000000ab;
          padding: 2px;
          border-radius: 4px;
        }
      }
      .image1 {
        background-image: url("./SAP-SD.jpg");
        background-size: cover;
        background-position: -160px 00px;
      }
      .image2 {
        background-image: url("./mm.png");
        background-size: cover;
        background-position: -160px 00px;
      }
      .image3 {
        background-image: url("./bitcoin.jpg");
        background-size: inherit;
        background-position: -160px 00px;
      }
    }
  }
}
@media (max-width: 768px) {
  .explore-container {
    .sap-gui-details {
      .data-types {
        flex-direction: column;
      }
    }
  }
}
