.header-container {
  /* background-color: #7886d37e; */
  background-color: #2c67b0;
  /* background-color: #ffffff5e; */
  /* background-image: radial-gradient(
    circle 950px at 2.5% 8%,
    #2c67b0 0%,
    #233888 90%
  ); */
  padding: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.header-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color: transparent;

  .logo-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 2px 5px;
  }
  .logo-container:hover {
    background-color: azure;
  }
}
.website-name-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;

  h3 {
    font-size: 28px;
    margin-top: 8px;
    font-weight: bold;
    color: #000;
  }
}
.website-logo {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
}
.tabs-bar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .menu-icon-section {
    display: none;
  }
  .tab {
    color: #000;
  }
  .icon {
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    /* display: none; */
  }
}
@media (max-width: 768px) {
  .header-container {
    .header-section-container {
      .logo-container {
        .website-name-section {
          website-logo {
            width: 15px;
            height: 15px;
          }
          h3 {
            font-size: 14px;
          }
        }
      }
    }
  }
  .tabs-container {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2d7bc4;
    position: absolute;
    width: 250px;
    height: 30vh;
    top: -950px;
    right: 0;
    z-index: 10;
  }
  .tabs-container.active1 {
    top: 100%;
    border: 1px solid #000;
  }
  .tabs-bar-section {
    .menu-icon-section {
      display: block;
    }
  }
}

.tabs-container {
  display: flex;
  gap: 30px;

  li {
    list-style: none;
  }

  /* li:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  } */

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: max(1vw, 16px);
    color: #fff;
  }
}
@media (max-width: 768px) {
  .tabs-container {
    li:hover {
      border: none;
    }
  }
}

.active {
  /* background-color: #2c67b07a; */
  /* border-radius: 6px;
  padding: 4px 8px; */
  border-bottom: 2px solid #fff;
  color: #fff;
}
.user-icon-container {
  display: flex;
  gap: 10px;

  button {
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 6px;
    font-weight: 600;
    /* background-color: #2c67b0; */
    background-color: azure;
  }
}
@media (max-width: 768px) {
  .user-icon-container {
    gap: 5px;

    button {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}
